.learning-options-container {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .learning-option-button {
    padding: 0.3rem;
    border-radius: 25px;
    background: transparent;
    border: 1px solid green;
    margin: 3px;
    font-size: 0.6em;
  }